  p {
    font-family: ar julian;
    font-size: 14;
  }
  
  h2 {
    font-family: ar julian;
  }
  
  hr {
    border-top: 2px solid;
    background: #000046;  
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
    background: linear-gradient(to right, #1CB5E0, #000046); 
    width: 300px;
    margin-left: 20px;
  }

  h1{
    font-family: "Monsterrat";
    text-align: center;
    position: relative;
    //margin: 100px auto;
    //display: inline-block;
  }
.underline{
  display: inline-block;
  position: relative;
}
  .underline::before{
      content:'';
      display: block;
      text-align: end;
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      background: #000046;  
      background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  
      background: linear-gradient(to left, #1CB5E0, #000046); 
      height:5px;
      border-radius: 30%;
      bottom: 0;
      left: 0;
      transform-origin: bottom right;
      //border-radius: 10px;
      transition:transform 0.55s ease-out;
    }
    .underline:hover::before{
      transform: scaleX(1);
      text-align: end;
      transform-origin: bottom right;
    }

body{
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}  

 
 
  
  
