.name-container{
    background: url(homepage.jpg);
    -webkit-background-size: cover;
    background-size: fill;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 30%;
    padding-right:40%;
}
span {
    color: black;
}
.myname {
    height: 10%;
    width: 80%;
    display: block;
    font-family:AR julian;
    margin-left: 5%;
    border-radius: 2px solid black;
  }
.contact-links{
    font-family: AR julian;
    margin-top: 1%;
    font-size: 50px;
    margin-left: 5%;
}
#underline-student{
    font-family: AR julian;
    font-size: 30px;
    margin-left: 5%;
    background:rgba(255, 255, 255, 0.6);
    display: inline-block;
    //border: black 2px solid;
    margin-bottom: 10%;
    margin-top: 5%;
}