
.name-container{
    background: url(homepage.jpg);
    -webkit-background-size: cover;
    background-size: fill;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 30%;
    padding-right:40%;
}
.myname {
    height: 5%;
    width: 90%;
    display: inline-block;
    font-family:AR julian;
    margin-left: 5%;
   // border: 2px solid black;
    background:rgba(255, 255, 255, 0.4);
    //margin-bottom: 30%;
  }
#underline-student{
    font-family: AR julian;
    font-size: 30px;
    font-weight: bold;;
    margin-left: 5%;
    background:rgba(255, 255, 255, 0.4);
    display: inline-block;
    margin-bottom: 10%;
    margin-top: 5%;
}
.contact-links{
    font-family: AR julian;
    font-size: 30px;
    display: block;
    margin-left: 10%;
    width: 50%;
    background:rgba(255, 255, 255, 0.4);
    //background: rgba(138, 190, 240, 0.6);
}