@media all and (min-width: 768px){
  .wrapper{
    display: grid;
    grid-template-columns:3% 20% 77%;
    margin-bottom: 50px;
   }
  .icon-box i{
    padding-top: 1px;
   }
 }
 @media all and (max-width: 768px){
  .container{
    flex-direction: column;
  }
  .right-side{
    min-width: 100%;
    max-width: 100%;
  }
 }
.resume-container{
   max-width: 100%;
   min-width: 100%;
   padding-left: 5%;
   box-sizing: border-box;
   padding-top: 50px;
}
.container{
  display: flex;
  flex-direction: row;
}
.wrapper{
  display: grid;
  grid-template-columns:3% 25% 72%;
  margin-bottom: 3%;
}
.reference-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
} 
.date-wrapper{
  font-weight: bold;
  margin-left: 10px;
}
.organisation{
  font-size: 19px;
  font-weight: bold;
}
.course-name{
  font-size: 17px;
  font-family:AR julian;
  margin-top: 1%;
  font-weight: bold;
}
.description{
  font-size: 15px;
  margin-top: 1%;
  font-family: Times New Roman;
  padding-bottom: 40px;
  padding-inline-end: 50px;
  }
.space-for-elements{
  margin-bottom: 3%;
}
#underline-student{
  font-family:AR julian;
  border-radius: 2px solid black;
}
.icon-box i {
  padding-bottom: 1px;
}
.fa-circle {
  color:#1c92d2;
}
.fa-dot-circle {
  color: #1c92d2;
}
.fa-book-open {
  color: #1c92d2;
  margin-right: 1%;
}
.fa-paperclip {
  color: #1c92d2;
  margin-right: 1%;
}
.fa-toolbox {
  color: #1c92d2; 
  margin-right: 1%;
}

  
 
   